/*****Declarar las fuentes a usar****/
/* Fuente anonymus Pro sin bold */
@font-face {
  font-family: "Anonymus Pro";
  src: url("../assets/fonts/Anonymice\ Powerline.ttf");
  font-weight: normal;
}
/* Fuenta anonymus pro con bold  */
@font-face {
  font-family: "Anonymus Pro Bold";
  src: url("../assets/fonts/Anonymice\ Powerline.ttf");
  font-weight: bold;
}
/************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/***Pantalla de presentacion***/
