/*****Declarar las fuentes a usar****/
/* Fuente anonymus Pro sin bold */
@font-face {
  font-family: "Anonymus Pro";
  src: url("./fonts/Anonymice_Powerline_Bold.ttf") format("opentype");
  font-weight: 100;
}
/* Fuenta anonymus pro con bold  */
@font-face {
  font-family: "Anonymus Pro Bold";
  src: url("./fonts/Anonymice_Powerline.ttf") format("opentype");
  font-weight: bold;
}
/************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* h1,
h5,
p,
a {
  display: block;
  overflow: hidden;
} */
/*Estilos para una pantalla 4K  */
/*Dandole el tamaño y la letra a los fondos  */
body {
  font-family: "Anonymus Pro Bold", "Anonymus Pro", Arial;
  font-size: 5rem;
}
/*animaciones  */
/*Animacion para escritura completa */
@keyframes typing {
  from {
    width: 0;
  }
}
/*Animacion para tipado azul  */
@keyframes blink_blue {
  50% {
    border-right: 10px solid #8ad9ea;
  }
}
/*Animacion para tipado azul  */
@keyframes blink_white {
  50% {
    border-right: 10px solid white;
  }
}
/*Animacion para cuerpo incompleto  */
@keyframes typing_incomplete {
  0% {
    width: 0;
  }
  100% {
    width: 68%;
  }
}
/*Animacion para cuerpo completo  */
@keyframes typing_completed {
  /* 0% {
    width: 68%;
  }
  100% {
    width: 100%;
  } */
  from {
    width: 68%;
  }
}
/*Texto oculto  */
.hidden_text {
  width: 0 !important;
  overflow: hidden;
}
/*Animacion para texto en blanco  */
.text_animated_text_white {
  white-space: nowrap;
  overflow: hidden;
  /* text-align: center; */
  animation: typing 1s steps(20), blink_white 0.3s infinite step-end alternate;
}
.text_animated_text_white_options {
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-align: center; */
  animation: typing 1s steps(20), blink_white 0.3s infinite step-end alternate;
}
/*animacion para texto en azul*/
.text_animated_text_blue {
  white-space: nowrap;
  overflow: hidden;
  /* text-align: center; */
  animation: typing 1s steps(20), blink_blue 0.3s infinite step-end alternate;
}

/*Animacion para texto blanco incompleto  */
.text_animated_text_white_incomplete {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  animation: typing_incomplete 1s steps(20) 0s,
    blink_white 0.3s infinite step-end alternate 0s,
    typing_completed 1s steps(20) 1s,
    blink_blue 0.3s infinite step-end alternate 1s;
}
.stop_animation {
  animation-play-state: paused;
  border-right: none !important;
}
/* Fondo personalizado con particles js */
#particles-js {
  background-color: #0e0e0e;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* Cuerpo principal */
.cuerpo {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

/*estilos para limitar la vista */
.cuerpo .vista {
  position: relative;
  /* border: 5px solid green; */
  width: 80%;
  height: 85%;
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
}
/***Pantalla de cada uno de los articulos***/
.cuerpo .vista .article {
  position: absolute;
  width: 100%;
  height: 100%;
  /* border: 3px solid red; */
  color: #fff;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 1fr;
  scroll-snap-align: center;
}
/*Estilos para todas las cabeceras  */

.cuerpo .vista .article .cabecera_pagina {
  /* border-top: 5px rgba(124, 192, 236, 0.75) solid; */

  /* border-top: 5px linear-gradient(rgba(124, 192, 236, 0.75) 85%, transparent 15%) solid; */
  /* background-color: rgba(35, 35, 35, 0.85); */
  /* background: linear-gradient(
    30deg,
    transparent 15%,
    rgba(35, 35, 35, 0.85) 15%,
    rgba(35, 35, 35, 0.85) 80%,
    transparent 5%
  ); */
  /* background: conic-gradient(
    from 45deg at 50% 50%,
    #ff5722,
    #ff5722 25%,
    #ff5722 75%,
    #ff5722 100% */
  /* background-image: url(../assets/trapecio.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  position: relative;
  width: 100%;
  height: 100%;
}
/*Configuracion para colocar los triangulos, en la parte superior sin usar un linear gradient */
.cuerpo .vista .article .cabecera_pagina .fondo {
  position: absolute;
  width: 100%;
  height: 100%;
}
/*Estilos para todos los cuerpos de todos los paneles  */
.cuerpo .vista .article .cuerpo_panel {
  /* background-color: rgba(35, 35, 35, 0.85); */
  /* border: 5px transparent solid; */
  /* background: linear-gradient(#202020, #202020) no-repeat, */
  /* linear-gradient(
      to left,
      rgba(124, 192, 236, 0.75) 5%,
      #202020 5%,
      #202020 95%,
      rgba(124, 192, 236, 0.75) 95%
    ); */
  /* linear-gradient(
        to left,
        rgba(124, 192, 236, 0.75) 5%,
        #202020 5%,
        #202020 95%,
        rgba(124, 192, 236, 0.75) 95%
      ); */
  /* /* border-radius: 5px; */
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}
.cuerpo .vista .article .cuerpo_panel .fondo {
  position: absolute;
  width: 100%;
  height: 101%;
}
/*Estilo para todos los footers*/
.cuerpo .vista .article .pie_de_pagina {
  /* border-bottom: 5px rgba(124, 192, 236, 0.75) solid;
  background-color: rgba(35, 35, 35, 0.85); */
  position: relative;
  width: 100%;
  height: 100%;
}
.cuerpo .vista .article .pie_de_pagina .fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  grid-template-rows: 1fr;
}
/*Estilo para todas las opcioens en general */

.cuerpo .vista .article .cabecera_pagina {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuerpo .vista .article .cabecera_pagina .area_navegacion {
  width: 70%;
  height: 100%;
}
.cuerpo .vista .article .cabecera_pagina .area_navegacion .lista_componentes {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 5%;
}

/* Este estilo, le da color, sombra, etc a la barrita que selecciona en que opcion esta */

.cuerpo
  .vista
  .article
  .cabecera_pagina
  .area_navegacion
  .lista_componentes
  .seleccionador {
  position: absolute;
  /* left: 3%; */
  content: " ";
  border-bottom: 3px solid rgba(138, 217, 234, 0.85);
  top: 75%;
  width: 15%;
  box-shadow: 0 -4px 10px 1px rgba(138, 217, 234, 0.85);
}

.cuerpo
  .vista
  .article
  .cabecera_pagina
  .area_navegacion
  .lista_componentes
  li {
  list-style: none;
  text-align: center;
}

/*Este estilo le quita el decorado de lista y permite que el cursor sea puntero  */

.cuerpo
  .vista
  .article
  .cabecera_pagina
  .area_navegacion
  .lista_componentes
  .opcion {
  font-size: 3.5rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: inline-block;
  /* border-right: 10px red solid; */
}
.cuerpo
  .vista
  .article
  .cabecera_pagina
  .area_navegacion
  .lista_componentes
  .seleccionado {
  color: #8ad9ea;
  /* box-shadow: 0 10px 20px rgba(138, 217, 234, 0.45); */
}

/* Estilos para presentacion */
.cuerpo .vista .presentacion {
  left: 0%;
}
.cuerpo .vista .presentacion .cuerpo_panel .nombre_titulo {
  width: 85%;
}
.cuerpo .vista .presentacion .cuerpo_panel .parrafo_presentacion {
  width: 42%;
}
.cuerpo .vista .presentacion .cuerpo_panel .parrafo_posicion {
  width: 66%;
}
.cuerpo .vista .presentacion .cuerpo_panel .texto_contacto {
  width: 97%;
}
/*Estilos para la cabecera de la pagina de presentacion */
.cuerpo .vista .presentacion .cabecera_presentacion {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding: 0 10%;
}

/* Estilos para cada uno de los botones */

.cuerpo .vista .presentacion .cabecera_pagina .cuerpo_boton {
  background-color: #383f51;
  width: 33%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  filter: drop-shadow(-2px 5px 15px rgba(10, 10, 10, 0.6));
  transition: 0.5s;
  cursor: pointer;
}

/*Estilos para el icono o la imagen SVG */

.cuerpo .vista .presentacion .cabecera_pagina .cuerpo_boton .icono {
  width: 40%;
  height: 85%;
}
/*Estilos para animar los botones cuando se pasa el cursor encima */

.cuerpo .vista .presentacion .cabecera_pagina .cuerpo_boton:hover {
  box-shadow: 0.1px -12px 12px -3px #38627b inset;
  transform: scale(1.2);
}
/*Distribucion de las opciones inferiores*/
.cuerpo
  .vista
  .presentacion
  .pie_de_pagina
  .area_navegacion
  .lista_componentes
  .opcion {
  width: 100%;
  text-align: center;
  display: inline-block;
}

/*Distribucion del cuerpo, en la presentacion */
.cuerpo .vista .presentacion .cuerpo_panel {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 17.5%) 30%;
  justify-items: center;
  padding: 5% 0 0 2%;
}

/*Texto y tamaño del titulo de la presentacion */
.cuerpo .vista .presentacion .cuerpo_panel .nombre_titulo {
  font-family: "Anonymus Pro";
  font-size: 12rem;
  font-weight: bold;
}

/*Estilizado del tamaño del texto */
.cuerpo .vista .presentacion .cuerpo_panel .parrafo_presentacion {
  font-size: 5rem;
}
/*Estilizado del tamaño del texto  */
.cuerpo .vista .presentacion .cuerpo_panel .parrafo_posicion {
  font-size: 6rem;
}
/*Estilizado del tamaño del texto  */
.cuerpo .vista .presentacion .cuerpo_panel .texto_contacto {
  font-size: 4rem;
}
/*Estilizado del color del texto*/
.cuerpo .vista .presentacion .cuerpo_panel .texto_contacto .link_correo {
  color: #8ad9ea;
  cursor: pointer;
  position: relative;
}
/*Estilizado cuando es visitado*/
.cuerpo
  .vista
  .presentacion
  .cuerpo_panel
  .texto_contacto
  .link_correo:visited {
  color: rgba(0, 187, 45, 0.9);
}
/*Estilizado del area del boton*/
.cuerpo .vista .presentacion .cuerpo_panel .area_boton {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  /* color: #c8f3fe; */
}
/*Estilizado del espacio exterior del boton */
.cuerpo .vista .presentacion .cuerpo_panel .area_boton .boton_descarga {
  color: #c8f3fe;
  text-decoration: none;
  background-color: transparent;
  border-radius: 5px;
  border: 10px solid #383f51;
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  z-index: 1;
}
/*Estilizado del tamaño del espacio interior del boton  */
.cuerpo
  .vista
  .presentacion
  .cuerpo_panel
  .area_boton
  .boton_descarga
  .interior_boton {
  background-color: #383f51;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
/*Estilizado del cuando se pasa el mouse*/
.cuerpo
  .vista
  .presentacion
  .cuerpo_panel
  .area_boton
  .boton_descarga:hover
  .interior_boton {
  transform: scale(1.02);
  box-shadow: 0px -12px 12px -3px #38627b inset;
}
.cuerpo .vista .presentacion .pie_de_pagina {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuerpo .vista .presentacion .pie_de_pagina .area_navegacion {
  width: 70%;
  height: 100%;
}
.cuerpo
  .vista
  .presentacion
  .pie_de_pagina
  .area_navegacion
  .lista_componentes {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 5%;
}

.cuerpo
  .vista
  .presentacion
  .pie_de_pagina
  .area_navegacion
  .lista_componentes
  .seleccionador {
  position: absolute;
  left: -2%;
  content: " ";
  border-bottom: 3px solid rgba(138, 217, 234, 0.85);
  top: 75%;
  width: 20%;
  box-shadow: 0 -4px 10px 1px rgba(138, 217, 234, 0.85);
}
.cuerpo
  .vista
  .presentacion
  .pie_de_pagina
  .area_navegacion
  .lista_componentes
  li {
  list-style: none;
}
.cuerpo
  .vista
  .presentacion
  .pie_de_pagina
  .area_navegacion
  .lista_componentes
  .opcion {
  font-size: 3.3rem;
  cursor: pointer;
}
.cuerpo
  .vista
  .presentacion
  .pie_de_pagina
  .area_navegacion
  .lista_componentes
  .seleccionado {
  color: #8ad9ea;
  /* box-shadow: 0 10px 20px rgba(138, 217, 234, 0.45); */
}
/* Estilos para informacion */
.cuerpo .vista .informacion {
  left: 125%;
}

/*Con estos estilos, podemos mover la barrita inferior que seleccopma dpmde esta el usuario */
.cuerpo
  .vista
  .informacion
  .cabecera_pagina
  .area_navegacion
  .lista_componentes
  .seleccionador {
  left: 29.2%;
}

/* Estilo de la tarjeta central, lo dividimos en cuadriculas         */
.cuerpo .vista .informacion .cuerpo_panel .card {
  width: 60%;
  height: 50%;
  background-color: rgba(35, 35, 35, 0.95);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 10% 90%;
  align-items: center;
  justify-items: center;
  padding: 1.5%;
  row-gap: 1%;
}
/* Con este estilo el titulo se coloca correctamente */
.cuerpo .vista .informacion .cuerpo_panel .card .titulo_nombre {
  width: 100%;
  height: 100%;
  grid-column: 2 span;
  font-family: "Anonymus Pro";
  justify-self: start;
  font-size: 6rem;
}
.cuerpo .vista .informacion .cuerpo_panel .card .portrait {
  width: 75%;
  height: 75%;
  background-color: red;
  font-size: 5rem;
}
.cuerpo .vista .informacion .cuerpo_panel .card .message {
  font-size: 3rem;
  text-align: justify;
  max-width: 100%;
  max-height: 100%;
}
.cuerpo .vista .informacion .cuerpo_panel .card .message span {
  width: 100%;
  max-height: 12.5%;
  display: inline-block;
  vertical-align: middle;
  transition: 1.5s;
}
.cuerpo .vista .informacion .cuerpo_panel .card .message .return_inline {
  display: inline;
}
/*Con este estilo se mueve la barra del seleccionador  */
.cuerpo
  .vista
  .informacion
  .cabecera_pagina
  .area_navegacion
  .lista_componentes
  .seleccionador {
  left: 22.5%;
}
/* Estilos para proyectos */
.cuerpo .vista .proyectos {
  left: 250%;
}

.cuerpo
  .vista
  .proyectos
  .cabecera_pagina
  .area_navegacion
  .lista_componentes
  .seleccionador {
  left: 43%;
}

/*Este estilo dividira en 3 pedazos el cuerpo completo para poder hacer las tarjetas  */
.cuerpo .vista .proyectos .cuerpo_panel {
  grid-template-columns: repeat(3, 1fr);
}
/*Con este se va a hacer cada una de las tarjetas  */
.cuerpo .vista .proyectos .cuerpo_panel .card {
  width: 80%;
  height: 73.6%;
  background-color: #383f51;
  border-radius: 1px 1px 10px 10px;
  display: grid;
  grid-template-rows: 40% 10% 20% 15% 15%;
  justify-items: center;
  align-items: center;
  box-shadow: 2px 12px 20px rgba(138, 217, 234, 0.5);
}
/*Con esta regla de estilo se presenta el cuerpo de la imagen del proyecto*/
.cuerpo .vista .proyectos .cuerpo_panel .card .imagen_presentacion {
  width: 100%;
  height: 100%;
  background-color: white;
  border-bottom: 3px solid rgba(138, 217, 234, 0.85);
  border-radius: 1px 1px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Esta regla de  estilo se da tamaño a la imagen (funciona con la primera y tercera)*/
.cuerpo .vista .proyectos .cuerpo_panel .card .imagen_presentacion .imagen {
  width: 95%;
  height: 95%;
}

.cuerpo .vista .proyectos .cuerpo_panel ._2 .imagen_presentacion .imagen {
  width: 60%;
  height: 75%;
}

/*Estilos para el titulo de la tarjeta  */
.cuerpo .vista .proyectos .cuerpo_panel .card .title {
  font-family: "Anonymus Pro";
  justify-self: start;
  font-size: 3rem;
  padding-left: 3%;
}
.cuerpo .vista .proyectos .cuerpo_panel .card .descripcion {
  width: 100%;
  height: 100%;
  text-align: justify;
  padding: 0 3%;
  font-size: 2rem;
}
/*Estilos para el panel donde se muestran todos las tarjetas de los lenguajes*/
.cuerpo .vista .proyectos .cuerpo_panel .card .cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
/*El estilo de cada uno de las tarjetas */
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card {
  width: 90%;
  height: 45%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.5rem;
  gap: 5%;
}
/*Estilo para el texto al interior de la tarjeta */
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card .text {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Estilo para los iconos de html y css en las tarjetas  */
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .html .icon,
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .css .icon {
  width: 25%;
  height: 65%;
}
/*Estilo para los textos de las tarjetas de html y css  */
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .html .text,
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .css .text {
  width: 40%;
  height: 100%;
  font-size: 2rem;
}
/*Estilo para el icono de C# */
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .c_sharp .icon {
  width: 25%;
  height: 60%;
}
/*Estilo para el texto de la tarjeta de C# */
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .c_sharp .text {
  width: 55%;
  height: 100%;
}
/*Estilo para el icono de JS  */
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .js .icon {
  width: 25%;
  height: 55%;
}
/* .cuerpo .vista .proyectos .cuerpo_panel .card .cards .js .text {
} */
/*Estilo para el color de fondo de la tarjeta de C#*/
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .c_sharp {
  background-color: #230068;
}
/*Estilo para el color de fondo para la tarjeta de html  */
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .html {
  background-color: #dd4b25;
}
/*Estilo para el color de fondo para la tarjeta de css */
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .css {
  background-color: #254bdd;
}
/*Estilo para el color de fondo para la tarjeta de CSS  */
.cuerpo .vista .proyectos .cuerpo_panel .card .cards .js {
  background-color: #323330;
  font-size: 1.2rem;
}
/*Estilos para la tarjeta con 3 tarjetitas  */
.cuerpo .vista .proyectos .cuerpo_panel ._3 .cards {
  grid-template-columns: repeat(3, 1fr);
}
/* Cambio en el tamaño de los iconos */
.cuerpo .vista .proyectos .cuerpo_panel ._3 .cards .icon_card {
  width: 75%;
  height: 50%;
}
/*Estilos del area de los iconos  */
.cuerpo .vista .proyectos .cuerpo_panel .card .link_area {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
}
/*Estilos de la ancla  */
.cuerpo .vista .proyectos .cuerpo_panel .card ._link {
  width: 15%;
  height: 65%;
  cursor: pointer;
  z-index: 1;
  justify-self: start;
  margin-left: 5%;
}
.cuerpo .vista .proyectos .cuerpo_panel .card ._link:hover img {
  fill: rgba(0, 187, 45, 0.9);
}
/*Estilos del icono  */
.cuerpo .vista .proyectos .cuerpo_panel .card ._link img {
  width: 100%;
  height: 100%;
}
/* Estilos para habilidades */
.cuerpo .vista .habilidades {
  left: 375%;
}
/*Estilo para mover la barra inferior */
.cuerpo
  .vista
  .habilidades
  .cabecera_pagina
  .area_navegacion
  .lista_componentes
  .seleccionador {
  left: 63.75%;
}
/*Estilo para el cuerpo de las habilidades  */
.cuerpo .vista .habilidades .cuerpo_panel {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}
/*Estilo para las columnas de las habilidades*/
.cuerpo .vista .habilidades .cuerpo_panel .columna {
  width: 65%;
  height: 90%;
  background-color: rgba(50, 51, 48, 0.25);
  border-radius: 10px;
  padding: 2%;
  font-family: "Anonymus Pro";
  font-size: 4.5rem;
  text-align: center;
  display: grid;
}
/*Estilo para el interior de la primera columna  */
.cuerpo .vista .habilidades .cuerpo_panel .lenguajes {
  grid-template-rows: repeat(3, 1fr);
  gap: 5%;
}
/*Estilo para cada una de los renglones de la columna  */
.cuerpo .vista .habilidades .cuerpo_panel .lenguajes .tipo {
  width: 100%;
  height: 100%;
  display: grid;
}
/*Estilo para el primer y segundo renglon, posicionamos los elementos  */
.cuerpo .vista .habilidades .cuerpo_panel .lenguajes .programacion,
.cuerpo .vista .habilidades .cuerpo_panel .lenguajes .maquetado {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
/*Estilo para el titulo del primer y segundo renglon  */
.cuerpo .vista .habilidades .cuerpo_panel .lenguajes .programacion .title,
.cuerpo .vista .habilidades .cuerpo_panel .lenguajes .maquetado .title {
  grid-column: 2 span;
}
/*Estilo  para los iconos del primero y del segundo renglon  */
.cuerpo .vista .habilidades .cuerpo_panel .lenguajes .programacion .icon,
.cuerpo .vista .habilidades .cuerpo_panel .lenguajes .maquetado .icon {
  width: 70%;
  height: 70%;
}
/*Estilo para el  tercer renglon y que centre todos los objetos*/
.cuerpo .vista .habilidades .cuerpo_panel .lenguajes .estilizado {
  justify-items: center;
  align-items: center;
}
/*Estilo para el icono del tercer renglon  */
.cuerpo .vista .habilidades .cuerpo_panel .lenguajes .estilizado .icon {
  width: 50%;
  height: 50%;
}
/*Estilos para que se pueda dividir en tabla el interior de la tercera columna  */
.cuerpo .vista .habilidades .cuerpo_panel .frameworks {
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-rows: 15% 42.5%;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5%;
}
/*Estilo para que el titulo abarque toda la fila  */
.cuerpo .vista .habilidades .cuerpo_panel .frameworks .title {
  grid-column: 2 span;
}
/*Estilos para acomodar el icono de dotnet  */
.cuerpo .vista .habilidades .cuerpo_panel .frameworks .dotnet {
  width: 75%;
  height: 45%;
  align-self: flex-start;
}
/*Estilos para acomodar el icono de bootstrap  */
.cuerpo .vista .habilidades .cuerpo_panel .frameworks .bootstrap {
  width: 70%;
  height: 70%;
  align-self: flex-end;
}
/*Estilos para acomodar la tercera columna  */
.cuerpo .vista .habilidades .cuerpo_panel .herramientas {
  grid-template-rows: 15% repeat(2, 42.5%);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
/*Estilos para agrandar el texto de la tercera columna  */
.cuerpo .vista .habilidades .cuerpo_panel .herramientas .title {
  grid-column: 2 span;
}
/*Estilos para el icono de github  */
.cuerpo .vista .habilidades .cuerpo_panel .herramientas .github {
  width: 70%;
  height: 35%;
  position: relative;
  bottom: 20%;
}
/*Estilos para agrandar el icono de git  */
.cuerpo .vista .habilidades .cuerpo_panel .herramientas .git {
  width: 60%;
  height: 60%;
  align-self: flex-end;
}
/*Estilos para agrandar el icono de figma  */
.cuerpo .vista .habilidades .cuerpo_panel .herramientas .figma {
  width: 60%;
  height: 60%;
  align-self: flex-start;
}
/* Estilos para contacto */
.cuerpo .vista .contacto {
  left: 500%;
}
/*Estilos para el seleccionador  */
.cuerpo
  .vista
  .contacto
  .cabecera_pagina
  .area_navegacion
  .lista_componentes
  .seleccionador {
  left: 84.25%;
}

.cuerpo .vista .contacto .contact_card {
  width: 70%;
  height: 50%;
  background: rgba(35, 35, 35, 0.85);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 45% 20%;
  justify-items: center;
  align-items: center;
}
.cuerpo .vista .contacto .contact_card .text {
  grid-column: 3 span;
  font-size: 3rem;
}
.cuerpo .vista .contacto .contact_card .icon {
  width: 75%;
  height: 75%;
}
.cuerpo .vista .contacto .contact_card .link {
  color: #8ad9ea;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
/*Dando tamaño a dispositivos de 2K*/
@media only screen and (max-width: 2560px) {
  body {
    font-size: 1rem;
  }
  .cuerpo
    .vista
    .article
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 2.15rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .nombre_titulo {
    width: 64%;
    font-size: 6rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_presentacion {
    font-size: 2rem;
    width: 27%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_posicion {
    font-size: 2.5rem;
    width: 43%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .texto_contacto {
    font-size: 2.6rem;
    width: 96.5%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton {
    font-size: 3rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton .boton_descarga {
    border-width: 8px;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: -1.2%;
    width: 18%;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 2.15rem;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .titulo_nombre {
    font-size: 3rem;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .message {
    font-size: 2.1rem;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .portrait {
    font-size: 1.2rem;
  }
  .cuerpo
    .vista
    .informacion
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 23%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .title {
    font-size: 1.5rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .descripcion {
    font-size: 1.2rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card {
    font-size: 1rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .html .text,
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .css .text {
    font-size: 1.2rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .js {
    font-size: 0.8rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card ._link {
    width: 15%;
    height: 70%;
  }
  .cuerpo
    .vista
    .habilidades
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 63.75%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .columna {
    font-size: 2rem;
    gap: 0;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .herramientas .github {
    width: 65%;
  }
  .cuerpo .vista .contacto .contact_card .text {
    font-size: 1.8rem;
  }
  .cuerpo .vista .contacto .contact_card .link {
    font-size: 1.8rem;
  }
  .cuerpo
    .vista
    .contacto
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 84.5%;
  }
}
/*Actualizando las reglas para pantallas HD  */
@media only screen and (max-width: 1920px) {
  body {
    font-size: 0.9rem;
  }
  .cuerpo
    .vista
    .article
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 1.8rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .nombre_titulo {
    font-size: 5rem;
    width: 75%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_presentacion {
    font-size: 2rem;
    width: 34%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_posicion {
    font-size: 2.5rem;
    width: 75%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .texto_contacto {
    font-size: 2rem;
    width: 97%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton {
    font-size: 2.5rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton .boton_descarga {
    border-width: 8px;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 0.3%;
    width: 15%;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 1.6rem;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card {
    width: 70%;
    height: 55%;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .titulo_nombre {
    font-size: 2.8rem;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .message {
    font-size: 1.8rem;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .portrait {
    font-size: 1.2rem;
  }
  .cuerpo
    .vista
    .informacion
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 23%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .title {
    font-size: 1.6rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .descripcion {
    font-size: 1rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card {
    font-size: 0.8rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .html .text,
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .css .text {
    font-size: 1rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .js {
    font-size: 0.6rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card ._link {
    width: 15%;
    height: 70%;
  }
  .cuerpo
    .vista
    .habilidades
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 64%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .columna {
    font-size: 2rem;
  }
  .cuerpo .vista .contacto .contact_card .text {
    font-size: 1.5rem;
  }
  .cuerpo .vista .contacto .contact_card .link {
    font-size: 1.4rem;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .columna {
    width: 75%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes {
    gap: 0;
  }
}
/*Tipo de pantalla FHD  */
@media only screen and (max-width: 1366px) {
  body {
    font-size: 0.8rem;
  }
  .cuerpo .vista {
    width: 85%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .nombre_titulo {
    width: 82%;
    font-size: 4.25rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_presentacion {
    width: 40%;
    font-size: 1.75rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_posicion {
    width: 80%;
    font-size: 2rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .texto_contacto {
    font-size: 1.5rem;
    width: 97%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton {
    font-size: 2rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton .boton_descarga {
    border-width: 5px;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 1.2rem;
  }
  .cuerpo
    .vista
    .article
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 1.2rem;
  }
  .cuerpo
    .vista
    .article
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 21.5%;
  }
}
/*Estilos a 720p  */
@media only screen and (max-width: 1280px) {
  body {
    font-size: 0.8rem;
  }
  .cuerpo
    .vista
    .article
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 1.3rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .nombre_titulo {
    font-size: 4rem;
    width: 84%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_presentacion {
    font-size: 1.8rem;
    width: 47%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_posicion {
    font-size: 2rem;
    width: 90%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .texto_contacto {
    font-size: 1.3rem;
    width: 95%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton {
    font-size: 2rem;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton .boton_descarga {
    height: 70%;
    border-width: 6px;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 0.5%;
    width: 15%;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 1.1rem;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card {
    width: 75%;
    height: 60%;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .titulo_nombre {
    font-size: 2.3rem;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .message {
    font-size: 1.5rem;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .portrait {
    font-size: 1.2rem;
  }
  .cuerpo
    .vista
    .informacion
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 23%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card {
    height: 85%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .title {
    font-size: 1.4rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .descripcion {
    font-size: 0.85rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel ._2 .descripcion {
    font-size: 0.75rem;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card {
    width: 75%;
    height: 75%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card .icon {
    width: 50%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel ._3 .cards .icon_card .icon {
    width: 45%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card .text {
    display: none;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card ._link {
    width: 18%;
    height: 70%;
  }
  .cuerpo
    .vista
    .habilidades
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 64%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes {
    gap: 0;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes .programacion .icon,
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes .maquetado .icon {
    width: 65%;
    height: 65%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .columna {
    font-size: 1.5rem;
  }
  .cuerpo .vista .contacto .contact_card .text {
    font-size: 1rem;
  }
  .cuerpo .vista .contacto .contact_card .link {
    font-size: 1rem;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .columna {
    width: 75%;
  }
}
/*Forzando a girar la pantalla*/
@media screen and (max-width: 854px) and (orientation: portrait) {
  .cuerpo {
    display: none;
  }
  body::before {
    position: fixed;
    width: 100%;
    height: 100%;
    content: "Volte el dispositivo para ver el contenido";
    padding: 0 3%;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/*Pantallas con alturas pequeñas*/
@media only screen and (max-height: 900px) and (min-width: 1367px) and (orientation: landscape) {
  body {
    font-size: 0.8rem;
  }
  .cuerpo .vista {
    width: 70%;
  }
  .cuerpo
    .vista
    .article
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 140%;
  }
  .cuerpo
    .vista
    .article
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    width: 12%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .nombre_titulo {
    font-size: 450%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_presentacion {
    font-size: 180%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_posicion {
    font-size: 200%;
    width: 66%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .texto_contacto {
    width: 80%;
    font-size: 150%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton {
    font-size: 250%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton .boton_descarga {
    width: 40%;
    height: 70%;
    border-width: 6px;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 0%;
    width: 16%;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 140%;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card {
    width: 75%;
    height: 60%;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .titulo_nombre {
    font-size: 300%;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .message {
    font-size: 170%;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .portrait {
    width: 80%;
    height: 80%;
    font-size: 120%;
  }
  .cuerpo
    .vista
    .informacion
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 23%;
  }
  .cuerpo
    .vista
    .proyectos
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 44.3%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card {
    height: 75%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .title {
    font-size: 170%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .descripcion {
    font-size: 95%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel ._2 .descripcion {
    font-size: 90%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card {
    width: 75%;
    height: 75%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card .icon {
    width: 50%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel ._3 .cards .icon_card .icon {
    width: 45%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card .text {
    display: none;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card ._link {
    width: 18%;
    height: 70%;
  }
  .cuerpo
    .vista
    .habilidades
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 65%;
  }
  .cuerpo
    .vista
    .contacto
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 86%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes {
    gap: 0;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes .programacion .icon,
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes .maquetado .icon {
    width: 55%;
    height: 55%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes .estilizado .icon {
    width: 45%;
    height: 45%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .herramientas .github {
    width: 65%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .columna {
    font-size: 200%;
  }
  .cuerpo .vista .contacto .contact_card .text {
    font-size: 120%;
  }
  .cuerpo .vista .contacto .contact_card .link {
    font-size: 100%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .columna {
    width: 75%;
  }
}

@media only screen and (max-height: 500px) and (orientation: landscape) {
  body {
    font-size: 1rem;
  }
  .cuerpo .vista {
    width: 70%;
  }
  .cuerpo
    .vista
    .article
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 60%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .nombre_titulo {
    font-size: 200%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_presentacion {
    font-size: 100%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .parrafo_posicion {
    font-size: 100%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .texto_contacto {
    font-size: 68%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton {
    font-size: 110%;
  }
  .cuerpo .vista .presentacion .cuerpo_panel .area_boton .boton_descarga {
    height: 75%;
    border-width: 3px;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .opcion {
    font-size: 60%;
  }
  .cuerpo
    .vista
    .presentacion
    .pie_de_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: -0.5%;
    width: 18%;
    border-width: 2px;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card {
    width: 75%;
    height: 60%;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .titulo_nombre {
    font-size: 100%;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .message {
    font-size: 70%;
  }
  .cuerpo .vista .informacion .cuerpo_panel .card .portrait {
    font-size: 60%;
  }
  .cuerpo
    .vista
    .informacion
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 23.5%;
    border-width: 2px;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card {
    width: 90%;
    height: 80%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .title {
    font-size: 75%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .descripcion {
    font-size: 40%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel ._2 .descripcion {
    font-size: 40%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card {
    width: 75%;
    height: 75%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card .icon {
    width: 50%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel ._3 .cards .icon_card .icon {
    width: 45%;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card .cards .icon_card .text {
    display: none;
  }
  .cuerpo .vista .proyectos .cuerpo_panel .card ._link {
    width: 18%;
    height: 70%;
  }
  .cuerpo
    .vista
    .habilidades
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    left: 64.5%;
    border-width: 2px;
  }

  .cuerpo
    .vista
    .proyectos
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    border-width: 2px;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .columna {
    width: 85%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes {
    gap: 0;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes .programacion .icon,
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes .maquetado .icon {
    width: 55%;
    height: 55%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .lenguajes .estilizado .icon {
    width: 45%;
    height: 45%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .herramientas .github {
    width: 55%;
  }
  .cuerpo .vista .habilidades .cuerpo_panel .columna {
    font-size: 80%;
  }
  .cuerpo .vista .contacto .contact_card .text {
    font-size: 45%;
  }
  .cuerpo .vista .contacto .contact_card .link {
    font-size: 45%;
  }
  .cuerpo
    .vista
    .contacto
    .cabecera_pagina
    .area_navegacion
    .lista_componentes
    .seleccionador {
    border-width: 2px;
    left: 85%;
  }
}
